.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    text-transform: uppercase;
    font-size: 6vh;
    font-family: 'Montserrat', sans-serif;
    color: #DE1E00;
    font-weight: bold;
}

.divider {
    width: 100%;
    margin: 10px;
    background-color: grey;
}